.TextLogo.active {
    transform: translateX(-180px) scale(0.7, 0.7);
    transition: transform 1s;
}

.TextLogo .ip-wrapper {
    display: inline-block;
    transform: translate(16px, -30px);
    transition: transform 1s;
}

.TextLogo .ip-wrapper.active {
    transform: translate(0px, 0px);
}